
@{
    ViewBag.Title = "AccessForbidden";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AccessForbidden</h2>

@*@model int



    <div class="alert alert-danger mt-1 mb-1" style="margin-top:2%">
        <h4>404 Not Found</h4>
        <hr />
        <h5>
            Product with Id = @Model cannot be found
        </h5>
    </div>
    @Html.ActionLink("Go to Product List ", "Index", "", htmlAttributes: new { @class = "btn btn-default" })*@
@{
    ViewBag.Title = "403 ";
}
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4b9ba14b0f.js" crossorigin="anonymous"></script>
    <style>

        body {
            background-color: #95c2de;
        }

        .mainbox {
            background-color: #95c2de;
            margin: auto;
            height: 600px;
            width: 600px;
            position: relative;
        }

        .err {
            color: #ffffff;
            font-family: 'Nunito Sans', sans-serif;
            font-size: 11rem;
            position: absolute;
            left: 20%;
            top: 8%;
        }

        .far {
            position: absolute;
            font-size: 8.5rem;
            left: 42%;
            top: 15%;
            color: #ffffff;
        }

        .err2 {
            color: #ffffff;
            font-family: 'Nunito Sans', sans-serif;
            font-size: 11rem;
            position: absolute;
            left: 68%;
            top: 8%;
        }

        .msg {
            text-align: center;
            font-family: 'Nunito Sans', sans-serif;
            font-size: 1.6rem;
            position: absolute;
            left: 16%;
            top: 45%;
            width: 75%;
        }

        a {
            text-decoration: none;
            color: white;
        }

            a:hover {
                text-decoration: underline;
            }
    </style>
</head>
<body>
    <div class="mainbox">
        <div class="err">4</div>
        <i class="far fa-question-circle fa-spin"></i>
        <div class="err2">3</div>
        <div class="msg"><h2>Access Forbidden</h2></div>
    </div>
</body>
</html>