<main>
  <div class="container-fluid">
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">
        <button type="button" class="btn btn-success" routerLink="/add-company">
          <i class="fas fa-plus"></i>&nbsp;Add New
        </button>
      </li>
    </ol>

    <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Companies Details
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table
            class="table table-bordered"
            id="dataTable"
            width="100%"
            cellspacing="0"
          >
            <thead>
              <tr>
                <th>Email</th>
                <th>Name</th>
                <th>Total Employees</th>
                <th>Address</th>
                <th>Status</th>
                <th>Total Branch</th>
                <th>Branch</th>
                <th></th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Email</th>
                <th>Name</th>
                <th>Total Employees</th>
                <th>Address</th>
                <th>Status</th>
                <th>Total Branch</th>
                <th>Branch</th>
                <th></th>
              </tr>
            </tfoot>
            <tbody>
              <tr *ngFor="let company of companies">
                <td>{{ company.email }}</td>
                <td>{{ company.name }}</td>
                <td>{{ company.totalEmployees }}</td>
                <td>{{ company.address }}</td>
                <td>{{ company.isActive }}</td>
                <td>{{ company.totalBranch }}</td>
                <td>
                  <dl *ngFor="let branch of company.branch">
                    <dt>{{ branch.name }}</dt>
                    <dd>{{ branch.address }}</dd>
                  </dl>
                </td>
                <td>
                  <div class="row">
                    <button
                      class="btn btn-primary btn-sm"
                      type="button"
                      style="margin: 1%"
                      (click)="loadCompanyToEdit(company.id)"
                    >
                      <i class="fas fa-pen"></i>
                    </button>
                    <button
                      class="btn btn-danger btn-sm"
                      type="button"
                      (click)="deleteCompany(company.id)"
                    >
                      <i class="fas fa-trash"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
