<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
	  autoReload="true"
	  throwExceptions="false"
	  internalLogLevel="Off" internalLogFile="${basedir}/MyLogs/${date:format=yyyy-MM-dd}-api.log">

	<extensions>
		<!-- load NLog.Extended to enable ASP.NET-specific functionality -->
		<add assembly="NLog.Extended" />
	</extensions>
  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
	<targets>
		<target name="console" xsi:type="ColoredConsole" layout="${message}" />
		<!--Write logs to File  where we want to write error logs-->
		<target name="file" xsi:type="File" fileName="${basedir}/MyLogs/${date:format=yyyy-MM-dd}-api.log" layout="      
			--------------------- ${level}(${longdate})${machinename}-------------------- ${newline}      
			${newline}      
			Exception Type:${exception:format=Type}${newline}      
			Exception Message:${exception:format=Message}${newline}      
			Stack Trace:${exception:format=Stack Trace}${newline}      
			Additional Info:${message}${newline}      
			">
		</target>
		<target name="database" type="Database" connectionString="Data Source=DESKTOP-7G8A7L5\SQLEXPRESS;Initial Catalog=ProductManagement;Integrated Security=True">
		<commandText> insert into NLog ([TimeStamp],[Level],Logger, [Message], Callsite, Exception) 
		values (@TimeStamp, @Level, @Logger, @Message, @Callsite, @Exception); </commandText>
		<parameter name="@TimeStamp" layout="${date}" />
		<parameter name="@Level" layout="${level}" />
		<parameter name="@Logger" layout="${logger}" />
		<parameter name="@Message" layout="${message}" />
		<parameter name="@Callsite" layout="${callsite}" />
		<parameter name="@Exception" layout="${exception:tostring}" />
		<dbProvider>System.Data.SqlClient</dbProvider>
	  </target>
	</targets>

	<rules>
		<logger name="*" minlevel="trace" writeTo="file" />
		<logger name="*" minlevel="Trace" writeTo="database" />
	</rules>

	
</nlog>
