<div id="layoutAuthentication">
  <div id="layoutAuthentication_content">
    <main>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
              <div class="card-header">
                <h3 class="text-center font-weight-light my-4">Edit Company</h3>
              </div>
              <div class="card-body">
                <form [formGroup]="editCompanyForm" (ngSubmit)="onSubmit()">
                  <div class="form-row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <input
                          class="form-control py-4"
                          id="id"
                          type="number"
                          formControlName="id"
                          hidden
                        />
                        <label class="mb-1" for="name">Company Name</label>
                        <input
                          class="form-control py-4"
                          id="name"
                          type="text"
                          placeholder="Enter name"
                          formControlName="name"
                          required
                        />
                        <span
                          class="text-danger"
                          *ngIf="
                            (registerFormControl.name.touched || submitted) &&
                            registerFormControl.name.errors?.required
                          "
                        >
                          this field is required
                        </span>
                        <span
                          *ngIf="registerFormControl.name.hasError('minlength')"
                          class="text-danger"
                          >Please Enter At least 8 char</span
                        >
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="mb-1" for="email">Email</label>
                        <input
                          class="form-control py-4"
                          id="email"
                          type="email"
                          placeholder="Enter Email"
                          formControlName="email"
                          required
                        />
                        <span
                          class="text-danger"
                          *ngIf="
                            (registerFormControl.email.touched || submitted) &&
                            registerFormControl.email.errors?.required
                          "
                        >
                          this field is required
                        </span>
                        <span
                          *ngIf="registerFormControl.email.errors?.pattern"
                          class="text-danger"
                          >Email must be a valid email address</span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="mb-1" for="address">Address</label>
                    <input
                      class="form-control py-4"
                      id="address"
                      type="text"
                      aria-describedby="emailHelp"
                      placeholder="Enter address"
                      formControlName="address"
                      required
                    />
                    <span
                      class="text-danger"
                      *ngIf="
                        (registerFormControl.address.touched || submitted) &&
                        registerFormControl.address.errors?.required
                      "
                    >
                      this field is required
                    </span>
                  </div>
                  <div class="form-row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="mb-1" for="totalEmployees"
                          >Employees</label
                        >
                        <input
                          class="form-control py-4"
                          id="totalEmployees"
                          type="number"
                          placeholder="Enter Total Employees"
                          formControlName="totalEmployees"
                          required
                        />
                        <span
                          class="text-danger"
                          *ngIf="
                            (registerFormControl.totalEmployees.touched ||
                              submitted) &&
                            registerFormControl.totalEmployees.errors?.required
                          "
                        >
                          this field is required
                        </span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="mb-1" for="totalBranch">Branches</label>
                        <input
                          class="form-control py-4"
                          id="totalBranch"
                          type="number"
                          placeholder="Add Total Branches"
                          formControlName="totalBranch"
                          required
                        />
                        <span
                          class="text-danger"
                          *ngIf="
                            (registerFormControl.totalBranch.touched ||
                              submitted) &&
                            registerFormControl.totalBranch.errors?.required
                          "
                        >
                          this field is required
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="isActive"
                      formControlName="isActive"
                      required
                    />
                    <label class="form-check-label" for="isActive">
                      Is Active
                    </label>
                    <span
                      class="text-danger"
                      *ngIf="
                        (registerFormControl.isActive.touched || submitted) &&
                        registerFormControl.isActive.errors?.required
                      "
                    >
                      this field is required
                    </span>
                  </div>
                  <hr />
                  <div class="form-row">
                    <div class="col-md-12">
                      <div class="form-group float-right">
                        <button
                          type="button"
                          class="btn btn-primary"
                          (click)="addBranch()"
                        >
                          <i class="fas fa-plus"></i> Branch
                        </button>
                      </div>
                    </div>
                  </div>
                  <div formArrayName="branch">
                    <div class="form-group">
                      <div
                        *ngFor="
                          let branch of branchs.controls;
                          let pointIndex = index
                        "
                        [formGroupName]="pointIndex"
                      >
                        <div class="form-row">
                          <div class="col-md-10">
                            <div class="form-group">
                              <label class="mb-1" for="name">Branch Name</label>
                              <input
                                class="form-control py-4"
                                id="name"
                                type="text"
                                placeholder="Enter name"
                                formControlName="name"
                                required
                              />
                              <span
                                class="text-danger"
                                *ngIf="
                                  (registerFormControl.name.touched ||
                                    submitted) &&
                                  registerFormControl.name.errors?.required
                                "
                              >
                                this field is required
                              </span>
                              <span
                                *ngIf="
                                  registerFormControl.name.hasError('minlength')
                                "
                                class="text-danger"
                                >Please Enter At least 8 char</span
                              >
                            </div>
                            <div class="form-group">
                              <label class="mb-1" for="address">Address</label>
                              <input
                                class="form-control py-4"
                                id="address"
                                type="text"
                                placeholder="Enter address"
                                formControlName="address"
                                required
                              />
                              <span
                                class="text-danger"
                                *ngIf="
                                  (registerFormControl.address.touched ||
                                    submitted) &&
                                  registerFormControl.address.errors?.required
                                "
                              >
                                this field is required
                              </span>
                            </div>
                          </div>
                          <div class="col-md-2" style="margin: auto">
                            <button
                              type="button"
                              class="btn btn-danger float-right"
                              (click)="deleteBranch(pointIndex)"
                            >
                              <i class="fas fa-trash"></i>
                            </button>
                          </div>
                        </div>
                        <hr />
                      </div>
                    </div>
                  </div>

                  <div class="form-group mt-4 mb-0">
                    <button class="btn btn-primary btn-block" type="submit">
                      Update Company
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
